@model Web.ViewModels.Account.LoginVM
<div class="row justify-content-center">
    <div class="col-md-6">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <h5>The following errors occurred:</h5>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Login</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["returnUrl"]" method="post">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input asp-for="Email" class="form-control" type="email" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
